flows.json
[{"id":"240c11c3.6124be","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fed7a77.b259a4","type":"ibmiot in","z":"240c11c3.6124be","authentication":"apiKey","apiKey":"8241fe98.0bf7d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"esp8266","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":290,"y":260,"wires":[["8e617d1.9e9488","84405809.d434a8","fb08136e.ff307"]]},{"id":"8e617d1.9e9488","type":"debug","z":"240c11c3.6124be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"84405809.d434a8","type":"function","z":"240c11c3.6124be","name":"temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["8e617d1.9e9488","206bcde6.2c0c12","dfb4fd2.1ed63"]]},{"id":"fb08136e.ff307","type":"function","z":"240c11c3.6124be","name":"humidity","func":"global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":380,"wires":[["8e617d1.9e9488","2ccd7a18.86c556","3f2b147f.160b0c"]]},{"id":"2ccd7a18.86c556","type":"ui_gauge","z":"240c11c3.6124be","name":"humidity","group":"74acbf5.912fc4","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":380,"wires":[]},{"id":"206bcde6.2c0c12","type":"ui_gauge","z":"240c11c3.6124be","name":"temperature","group":"52b99570.e61ecc","order":0,"width":0,"height":0,"gtype":"donut","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":140,"wires":[]},{"id":"2b9b1d21.92d4a2","type":"http in","z":"240c11c3.6124be","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":280,"y":480,"wires":[["d6a53c30.62c3e"]]},{"id":"854ec823.2c1588","type":"http response","z":"240c11c3.6124be","name":"","statusCode":"","headers":{},"x":770,"y":480,"wires":[]},{"id":"d6a53c30.62c3e","type":"function","z":"240c11c3.6124be","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["854ec823.2c1588"]]},{"id":"dfb4fd2.1ed63","type":"switch","z":"240c11c3.6124be","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"},{"t":"lte","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":580,"wires":[["fed4113b.55fc"],["f6ab3459.002428"]]},{"id":"fed4113b.55fc","type":"http request","z":"240c11c3.6124be","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=J4A8I3cmFSrMPTN1KGxuoah7fY9g2yzDWZjeU5wtsEHipdq6RnEW3oBLhMFqkyJwSQsvzxZOIj6DNbic&sender_id=FSTSMS&message=The temperatureis high.&language=english&route=p&numbers=7013361058","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":540,"wires":[[]]},{"id":"f6ab3459.002428","type":"http request","z":"240c11c3.6124be","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=J4A8I3cmFSrMPTN1KGxuoah7fY9g2yzDWZjeU5wtsEHipdq6RnEW3oBLhMFqkyJwSQsvzxZOIj6DNbic&sender_id=FSTSMS&message=The temperatureis low.&language=english&route=p&numbers=7013361058","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":580,"wires":[[]]},{"id":"3f2b147f.160b0c","type":"switch","z":"240c11c3.6124be","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"},{"t":"lte","v":"35","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":700,"wires":[["b390fbc3.d9dc58"],["bc7e23a2.4b527"]]},{"id":"b390fbc3.d9dc58","type":"http request","z":"240c11c3.6124be","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=J4A8I3cmFSrMPTN1KGxuoah7fY9g2yzDWZjeU5wtsEHipdq6RnEW3oBLhMFqkyJwSQsvzxZOIj6DNbic&sender_id=FSTSMS&message=The humidity is high.&language=english&route=p&numbers=7013361058","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":660,"wires":[[]]},{"id":"bc7e23a2.4b527","type":"http request","z":"240c11c3.6124be","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=J4A8I3cmFSrMPTN1KGxuoah7fY9g2yzDWZjeU5wtsEHipdq6RnEW3oBLhMFqkyJwSQsvzxZOIj6DNbic&sender_id=FSTSMS&message=The humidity is low.&language=english&route=p&numbers=7013361058","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":720,"wires":[[]]},{"id":"8241fe98.0bf7d","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"4xjfxp.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"74acbf5.912fc4","type":"ui_group","z":"","name":"humidity","tab":"33eb649e.f1de8c","order":2,"disp":true,"width":"6","collapse":false},{"id":"52b99570.e61ecc","type":"ui_group","z":"","name":"temperature","tab":"33eb649e.f1de8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"33eb649e.f1de8c","type":"ui_tab","z":"","name":"smart monitoring system for infant incubator","icon":"dashboard","disabled":false,"hidden":false}]